*{
	margin: 0;
	padding: 0;
}

body{
	height: 100%;
	background-color: #DCDCDC;
	font: 12px/24px Sans-serif, Helvetica, Arial,;
}

.page {
	margin: 0px auto;
	padding: 70px 50px;
	height: 100%;
	width: 960px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.menue{
	list-style: none;
	font-size: 0px;
    margin-top: 20px;
background: rgba(94,94,94,1);
background: -moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(69,68,68,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,94,94,1)), color-stop(100%, rgba(69,68,68,1)));
background: -webkit-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(69,68,68,1) 100%);
background: -o-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(69,68,68,1) 100%);
background: -ms-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(69,68,68,1) 100%);
background: linear-gradient(to bottom, rgba(94,94,94,1) 0%, rgba(69,68,68,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#454444', GradientType=0 );
}

.menue li {
	display: inline-block;
	/*background-color: red;*/
}

.menue a {
	display: block;
	line-height: 40px;
	padding: 0px 20px;
	color: white;
	text-decoration: none;
	font-size: 15px;
	width: 100px;
	text-shadow: 1px 1px 2px black,;
	text-align: center;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	transition: 0.5s all;
}

.menue a:hover {
	background: #3d3d3d;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

.sidebar {
	float:left;
	list-style: none;
	width: 250px;
	margin-top: 20px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.sidebar li {
	border-bottom: 1px solid black;
}

.sidebar a{
	display: block;
	line-height: 40px;
	padding-left: 20px;
	color: #656363;
	text-decoration: none;
	transition: 0.2s all;
}

.sidebar a:hover {
	background: #f9f9f9;
	padding-left: 40px;
}

.content{
	float:right;
	width: 680px;
	margin-top: 20px;
	
}

.imgMyPic {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid black;
}

.content p{
	padding: 40px 20px;
	font: 13px Helvetica,sans-serif;
	line-height: 20px;
}

.clearfix {
	position: relative;
	clear: both;
	display: block;
}

.footer{
	list-style: none;
	font-size: 0px;
    margin-top: 20px;
    background: #e1e1e1;
}

.footer li {
	display: inline-block;
}

.footer a {
	display: block;
	line-height: 40px;
	padding: 0px 20px;
	color: black;
	text-decoration: none;
	font-size: 12px;
	width: 100px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	transition: 0.5s all;
}
.footer a:hover {
	text-decoration: underline;
}

.copyrite {
	font-size: 12px;
	float: right;
	line-height: 40px;
	margin-right: 20px;
}